/*  About Style */
.big-container{
    background-color: rgb(156, 110, 200);
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Alegreya', serif;
}

.big-container h2{
    width: 100%;
    font-size: 40px; font-weight: bold;
    color: aliceblue;
    padding: 20px;
}

.about-container{
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    width: 100%;
    gap:30px;
}

.about-container > div{
    max-width: 400px;
    font-size: 20px; 
    height: auto; text-align: center;
    padding: 25px;
    background-color: rgb(68, 68, 212);
    border-radius: 10px; color: white;
}

@media (max-width:768px) {
    .about-container{
        grid-template-columns: auto;
        padding: 25px;
        gap: 10px;
    }
    .big-container{
        padding: 20px 10px 20px 10px;}
}

