/* The popup form - hidden by default  FOR THE MAILING FORM*/
.form-popup {
	  position: fixed; 
    display: none;
    top: 130px;
    border: 3px solid #f1f1f1;
    z-index: 10;
}
.validate{
  /*font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Alegreya', serif;
  padding: 15px;
  background-color: white;
}
.validate input{
  padding: 10px; border-radius: 5px;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 10px 10px 5px 0;
}

/* Add styles to the form container */
.form-container {
  display: flex; flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%; 
  background-color: white;
}
.indicate{
  margin-left: 150px;
}
.sub-scribe{
  background-color: rgb(23, 23, 90); color: white;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.7;
}
.sub-scribe:hover{
  opacity: 1;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: rgb(147, 42, 70);
  color: white; font-weight: bold;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.star{
  color: red;
}
/* Add some hover effects to buttons */
.form-container .btn:hover{
  opacity: 1;
}
