/* Add styles to the form container */
.form-container-giv {
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The popup form - hidden by default */
.form-popup-giv{
	/*position: fixed; */
    position: fixed; 
    display: none;
    top: 200px;
    max-width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    height: auto;
    border: 3px solid #f1f1f1;
    z-index: 20;
}

/* Full-width input fields */
.form-popup-giv input{
  width: 100%; font-weight: bold;
  margin: 10px 5px 5px 0;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-popup-giv button{
    font-weight: bold;
    padding: 10px;
    background-color: rgb(48, 48, 129);
    color: aliceblue;
    margin: 10px 5px 5px 0;
    width: 100%;
    border-radius: 5px;
    opacity: 0.7;
}
.form-popup-giv .cancel{
    width: 20%;
    background-color: rgb(145, 24, 56);
}

/* Add some hover effects to buttons */
.form-popup-giv button:hover{
  opacity: 1;
}