/* The new home STYLE */
.home{
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/static/images/bg4.jpg");
    background-size: cover; 
    text-align: center;
    background-repeat: no-repeat;
    background-position: center; 
    height: 95vh;
    width: 100%; 
}

.welcome{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 0 100px 0 100px;
    color:rgb(247, 243, 243);
    width: 80%;
}
.welcome h4{
    text-align: right;
}
.home h1 {
    font-size: 100px; 
    font-weight: bolder;
    color: rgb(252, 252, 252);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow to the text */
}
@media screen and (max-width: 768px) {
    .home {
        height: 75vh; /* Adjust the height as needed */
    }
    .welcome{
        width: 100%;
        padding: 0 20px 0 20px;
    }
    .home h1 {
        font-size: 3em; /* This size is for mobile responsiveness */
    }
}
@media screen and (max-width: 330px){
    .home {
        height: 90vh; /* Adjust the height as needed */
    } 
}

#featured-services {
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
    height: max-content;
}
.message {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}