.home{
    color: white;
}
.mission{
    font-size: 46px;
}
.socials{
    margin-top: 100px;
    margin: 100px;
}
@media (max-width:500px) {
    .mission{
        font-size: 26px;
    }
    .socials{
        display: flex; flex-direction: column;
    }
}
