*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(147, 203, 224);
  height: 100%;
  font-family: 'Alegreya', serif;
}

.page{
  position: relative; color: white;
  height: auto; /* adjust 60px to the actual height of your navbar */
  width: 100%;
  display: flex; flex-direction: column;
  justify-content: center; text-align: center;
  align-items: center; /* centers the content vertically */
  margin-top: 100px; /* adjust 60px to the actual height of your navbar */
  overflow: auto;
}
              /*Footer styles */
footer{
  margin-top: auto;
  bottom: 0;
  color: white; height: 50px;
  width: 100%; background-color: black;
  justify-content: center;text-align: center;
}
footer h6{color: aliceblue; background-color: rgba(0, 0, 0, 0.5);
  text-align: center;}

.grid-container {
  color:white;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: auto auto auto;
  background-color: #040404;
  padding: 5px;
}

.grid-item {
  background-color: rgba(0, 0, 0);
  padding: 10px;
  text-align: center;
}
.grid-item img{
  max-width:100%; height:auto;
  top: 0; left: 0;
}
.grid-container2 { 
  display: grid;
  gap: 20px 70px;
  grid-template-columns: auto;
  padding: 10px;
}

.grid-container2 a{text-decoration: none;}

.grid-container2 button {
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  cursor: pointer;
  opacity: 0.8;
  border-radius:10px;
  font-size: 15px;
  text-align: center;
}
.grid-container2 button:hover{
  opacity: 1;
}

/* Media twitter, insta, fb*/
.media{
  display: flex; justify-content: center; align-items: center;
  column-gap: 10px;
}
.media a{
  text-decoration: none;
  color: white;
}

@media (max-width:1050px){
  .grid-container2 button {padding: 15px;}
	.grid-container {
  	gap: 0px 0px;
  	grid-template-columns: auto;
	}}

