*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  /*background-color: rgb(147, 203, 224);*/
  background: linear-gradient(45deg, rgb(45, 45, 92), rgb(90, 90, 140));
  height: 100%;
  font-family: 'Alegreya', serif;
}
/*For all pages*/
.page{
  position: relative; color: aliceblue;
  height: auto; /* adjust 60px to the actual height of your navbar */
  width: 100%;
  display: flex; flex-direction: column;
  justify-content: center; text-align: center;
  align-items: center; /* centers the content vertically */
  margin-top: 100px; /* adjust 60px to the actual height of your navbar */
  overflow: auto;
}
              /*Footer styles */
footer{
  margin-top: auto;
  bottom: 0;
  color: white; height: 50px;
  width: 100%; background-color: black;
  justify-content: center;text-align: center;
}
footer h6{color: rgb(246, 248, 250); background-color: rgba(0, 0, 0, 0.5);
  text-align: center;}
  
/*For footer sections*/
.grid-container {
  color:white;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: auto auto auto;
  background-color: #040404;
  padding: 5px;
}

.grid-item {
  background-color: rgba(0, 0, 0);
  padding: 10px;
  text-align: center;
}
.grid-item img{
  max-width:100%; height:auto;
  top: 0; left: 0;
}
.grid-container2 { 
  display: grid;
  gap: 20px 70px;
  grid-template-columns: auto;
  padding: 10px;
}

.grid-container2 a{text-decoration: none;}

.grid-container2 button {
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  cursor: pointer;
  opacity: 0.8;
  border-radius:10px;
  font-size: 15px;
  text-align: center;
}
.grid-container2 button:hover{
  opacity: 1;
}

/* Media twitter, insta, fb*/
.media{
  display: flex; justify-content: center; align-items: center;
  column-gap: 10px;
}

.media a{
  text-decoration: none;
  color: white;
}

.spotify:hover{
  background-color: rgb(52, 166, 52);
  color: #040404;
}
.sound-cloud:hover{
  background-color: rgb(235, 94, 23);
}
.podcast:hover{
  background-color: rgb(219, 91, 217);
}
.instagram:hover{
  background-color: rgb(220, 29, 216); border-radius: 5px;
}
.facebook:hover{
  background-color: rgb(29, 90, 220); border-radius: 5px;
}
.twitter:hover{
  color: rgb(29, 90, 220); border-radius: 5px; background-color: aliceblue;
}
.select a:hover{
  box-shadow: 0 0 8px;
  border-bottom: 2px solid rgb(194, 194, 239);
  border-radius: 5px;
}
.online{
  border-bottom: 2px solid rgb(194, 194, 239);
  font-weight: bold;
}
@media (max-width:1050px){
  .grid-container2 button {padding: 15px;}
	.grid-container {
  	gap: 0px 0px;
  	grid-template-columns: auto;
	}}

