{% extends "mainTemplate.html" %}


{% block content %}
<div class="about-us">
    <div>
        <h1>SCC Mission</h1>
        <div>
            <p>
                Our mission is to preach and teach the never changing message of redemption in Christ to an ever-changing world.
            </p>
            <p>Thus, we are committed to equip believers as we fellowship together with the word. We do this with much emphasis on the reality of the new creation in redemption with the intent 
                that men are grounded and able to teach others the same. We are set out to light up every dark places on the earth as we preach and teach the gospel with the consciousness of 
                definite signs and wonders.
            </p>
            <p>Supernatural Community Church is a church ministry where we are devoted to raising and training ministers of the gospel 
                who will reach the ends of the earth and light up every dark places.
            </p>
        </div>
    </div>

    <div class="big-container">
        <h2>4 Things To Know About SCC</h2>
        <div class="about-container">
            <div>
                <h3><q> The teaching of God's word is given first place and spiritual growth is a priority. </q></h3><br>
                At SCC, we are devoted to not keeping anything from you that is profitable to God's word. We ensure the word of God is taught 
                consistently and regularly. <br>
                <p>Acts 2:42</p>
            </div>
            <div><h3><q> We are a church devoted to prayer specifically praying in tongues. </q></h3> <br>
                Prayer is fellowship and a demonstration of our trust in God. Because we want to walk in God's desires and plans for our lives, we ought
                to be praying and that is what we are committed to do. <br>
                <p>Jude 1:20</p>
            </div>
            <div><h3><q> We train our members for the work of ministry by evangelism and discipleship. </q></h3> <br>
                We believe that the solution to the problems of humanity is God's word. So that means the solution is in our hands and we must do 
                something with it. <br>
                <p>I Tim 2:3-4</p>
            </div>
            <div>
                <h3><q> We believe in the practice of things of the spirit. </q></h3> <br>
                We believe in tongues, prophecy, interpretation of tongues, visions, trances, words of wisdom and 
                knowledge, healings and miracles, and gifts of the faith <br>
                <p>I Cor 12:1-20</p>
            </div>
        </div>
    </div>
   
</div>
{% endblock %}      
