{% extends "mainTemplate.html" %}


{% block content %}
<div class="about">
    <h2>Supernatural Community Church</h2>  
    <h1>Abous Us</h1>
    <div class="grid-about">
        <div>
            Our mission is to preach and teach the never changing message of redemption in Christ to an ever-changing world.
            Thus, we are committed to equip believers as we fellowship together with the word. We do this with much emphasis on the reality of the new creation in redemption with the intent that men are grounded and able to teach others the same. We are set out to light up every dark places on the earth as we preach and teach the gospel with the consciousness of definite signs and wonders.
        </div>
        <div>
            Our mission is to preach and teach the never changing message of redemption in Christ to an ever-changing world.
            Thus, we are committed to equip believers as we fellowship together with the word. We do this with much emphasis on the reality of the new creation in redemption with the intent that men are grounded and able to teach others the same. We are set out to light up every dark places on the earth as we preach and teach the gospel with the consciousness of definite signs and wonders.
        </div>
        <div>
            Our mission is to preach and teach the never changing message of redemption in Christ to an ever-changing world.
            Thus, we are committed to equip believers as we fellowship together with the word. We do this with much emphasis on the reality of the new creation in redemption with the intent that men are grounded and able to teach others the same. We are set out to light up every dark places on the earth as we preach and teach the gospel with the consciousness of definite signs and wonders.
        </div>
        <div>
            Our mission is to preach and teach the never changing message of redemption in Christ to an ever-changing world.
            Thus, we are committed to equip believers as we fellowship together with the word. We do this with much emphasis on the reality of the new creation in redemption with the intent that men are grounded and able to teach others the same. We are set out to light up every dark places on the earth as we preach and teach the gospel with the consciousness of definite signs and wonders.
        </div>
    </div>
</div>
{% endblock %}      
