{% extends "mainTemplate.html" %}


{% block content %}
<div class="mail">
    <h2>Join our mailing list to receive weekly teachings on the word God</h2>
    <div class="mailing">
        <form id="mail-form" method="POST" action="/process_email">
            <input type="text" name="firstName" required placeholder="First Name">
            <input type="text" name="lastName" id="lastName" required placeholder="Last Name">
            <input id="input-input" type="text" name="email" required placeholder="email@example.com">
            <button type="submit">Join Us</button>
        </form>
    </div>
</div>
{% endblock %}

