{% extends "mainTemplate.html" %}


{% block content %}
<!-- Swiper -->
<div class="materials">
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
      {% for file_detail in file_details %}
        <div class="swiper-slide">
          <img src='{{ file_detail.symbol }}'/>
          <div class="overlay"><a href="{{ file_detail.signed_url }}" target="_blank"><div class="btn">Click here to read more</div></a></div>
        </div>
        <div class="swiper-slide">
          <img src='{{ file_detail.symbol }}'/>
          <div class="overlay"><a href="{{ file_detail.signed_url }}" target="_blank"><div class="btn">Click here to read more</div></a></div>
        </div>
        <div class="swiper-slide">
          <img src='{{ file_detail.symbol }}'/>
          <div class="overlay"><a href="{{ file_detail.signed_url }}" target="_blank"><div class="btn">Click here to read more</div></a></div>
        </div>
        <div class="swiper-slide">
          <img src='{{ file_detail.symbol }}'/>
          <div class="overlay"><a href="{{ file_detail.signed_url }}" target="_blank"><div class="btn">Click here to read more</div></a></div>
        </div>
        <div class="swiper-slide">
          <img src='{{ file_detail.symbol }}'/>
          <div class="overlay"><a href="{{ file_detail.signed_url }}" target="_blank"><div class="btn">Click here to read more</div></a></div>
        </div>
        <div class="swiper-slide">
          <img src='{{ file_detail.symbol }}'/>
          <div class="overlay"><a href="{{ file_detail.signed_url }}" target="_blank"><div class="btn">Click here to read more</div></a></div>
        </div>
    {% endfor %}
  </div>
    <div class="swiper-button-next swipebtn"></div>
    <div class="swiper-button-prev swipebtn"></div>
    <div class="swiper-pagination swipebtn"></div>
  </div>
</div>
{% endblock %} 